   <!-- mailchimp subscribe form -->
    <!-- Begin Mailchimp Signup Form -->
    <br>
    <div class="subscribe-bar">

            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:90%}
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <style type="text/css">
            #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: 80%; margin-right: 0px;}
            #mergeRow-gdpr {margin-top: 20px;}
            #mergeRow-gdpr fieldset label {font-weight: normal;}
            #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
            </style>
            <div class="subscribe-bar-div" id="mc_embed_signup">
            <form class="subscribe-bar-two" action="https://tumblr.us14.list-manage.com/subscribe/post?u=f876ad393db1b61d4a1ece6cb&amp;id=1e55d2a420" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL" class="subscribe-bar-two">Subscribe to my weekly newsletter</label>
            <input type="email" value="" name="EMAIL" class="email subscribe-bar-margin" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f876ad393db1b61d4a1ece6cb_1e55d2a420" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button subscribe-bar-margin subscribe-bar-text"></div>
                </div>
            </form>
            </div>
      </div>
      