<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="author" content="Juan Jose Fernandez" />

  <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:site" content="@z9sx7wox" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  {% if page.title %}
  	<!-- Article specific OG data -->
  	<meta property="og:type" content="article" />
  	<meta property="article:published_time" content="{{page.date}}" />
  	{% if page.modified %}
  		<meta property="article:modified_time" content="{{page.modified}}" />
  	{% endif %}
  	<meta property="article:author" content="https://www.juanjosefernandez.com" />
    <meta property="article:publisher" content="https://www.juanjosefernandez.com" />
  	<meta property="article:section" content="{{page.vertical}}" />
  	{% for tag in page.categories %}
  		<meta property="article:tag" content="{{tag}}" />
  	{% endfor %}
	  <meta name="keywords" content="{{page.categories | join: ', '}}" />

  	<meta name="twitter:card" content="summary_large_image" />
  	<meta name="twitter:creator" content="@z9sx7wox" />
  	<meta name="twitter:title" content="{{page.title}}" />
	{% if page.ogimagenull %}
		<!-- no og image -->
	{% elsif page.ogimage %}
		<meta property="og:image" content="{{page.ogimage}}" />
	  	<meta name="twitter:image" content="{{page.ogimage}}" />
	  	<meta property="og:image:width" content="600" />
	  	<meta property="og:image:height" content="315" />
	{% elsif page.image %}
	  	<meta property="og:image" content="{{page.image}}" />
	  	<meta name="twitter:image" content="{{page.image}}" />
  {% else %}
  		<meta property="og:image" content="https://www.juanjosefernandez.com/assets/images/portrait_at_home.jpg" />
  		<meta name="twitter:image" content="https://www.juanjosefernandez.com/assets/images/portrait_at_home.jpg" />
  {% endif %}
	

  {% else %}
  	<!-- OG data for homepage -->
  	<meta property="og:image" content="https://www.juanjosefernandez.com/assets/images/portrait_at_home.jpg" />
  	<meta property="og:type" content="website" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="{{site.title}}" />
  	<meta name="twitter:image" content="https://www.juanjosefernandez.com/assets/images/portrait_at_home.jpg" />
  {% endif %}

  <link rel="icon" type="image/png" href="/assets/images/F22-icon.png">
      
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>
