---
layout: page
title: Blog Archive
---
<ul class="post-list">
<!-- post list -->
{% for post in paginator.posts %}
<li class="row">
  <div class="col-3">
    {%- if post.image -%}
    <a href={{post.url}}>
      <img src={{post.image}} class="blogpost-preview"/>
    </a>
  </div>
    <div class="col-9">
    {%- endif -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <a href="{{post.url | prepend: site.baseurl}}">
        <h3>{{post.title}}</h3>    <span class="post-meta">
          {{ post.date | date: date_format }}
      </span>
    </a>
    <p>         
      {{ post.excerpt }} <br><a href="{{post.url | prepend: site.baseurl}}">Read more >></a>
    </p>
    </div>
</li>
{% endfor %}
</ul>

<!-- pagination -->
<div class="">
<div class="pagination">

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

      {% if paginator.previous_page %}
      <li class="page-item"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" tabindex="-1" class="page-link">Prev</a></li>
    {% else %}
    <li class="page-item"><a href="/blog" tabindex="-1" class="page-link">Prev</a></li>
    {% endif %}


      <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <!-- <span class="bold">{{ page }}</span> -->
      {% elsif page == 1 %}
     
      <li class="page-item">
        <a href="/blog" class="page-link">{{ page }}</a></li>
      {% else %}
      <li class="page-item"></li>
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-link">{{ page }}</a>
      </li>
        {% endif %}
    {% endfor %}
  </li>


      <li class="page-item"></li>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-link">Next</a>
    {% else %}
      <span class="page-link"> Next &raquo;</span>
    {% endif %}
  </li>

    </ul>
  </nav>
  </div>
</div>
<!-- pagination -->


